.head{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 15px;
    margin: 10px;
    font-size: 20px
}
nav {
    align-items: center;
}
header img {
    max-width: 25px;
    max-height: 25px;
}
header a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 15px;
}
button {
    justify-content: right;
    border-radius: 50px;
    background-color: transparent;
    border: solid 2px;
    padding: 7px;
}
button:hover {
    background-color: black;
    color: white;
}
section {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 50px;
}
.sec1 {
    background-color: forestgreen;
    display: flex;
    padding: 60px;
}
section a {
    color: white;
}
.sec2y3 {
    background-color: red;
    display: flex;
}
.pedido {
    margin-top: 90px;
    background-color: transparent;
    color: white;
}
.pedido:hover {
    background-color: white;
    color:red;
    font-weight: bold;
}
section img {
    height: 100%;
    width: 50%;
}
section div{
    width: 50%;
}
footer {
    padding: 10px;
    border-top: 1px solid;
    color: black;
}
